### Gradle template
.idea/
.gradle/
*.iml
downloads/
queue/
cache/
build/
*.log

# Ignore Gradle GUI config
gradle-app.setting
gradle.properties

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

testdb.tmp/
